main h1{
    font-size: 40px;
    text-align: center;
    color: var(--color-yellow);
}
main a{
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}
.paraa{
    font-size: 24px;
}
.features h3{
    padding-top: 30px;
}
.list {
    padding-left: 60px;
}
#line{
  margin-top: 90px;
}