.page-content{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.page{
  
    height: auto;
    width: 26%;
   margin: 0px 20px 0px 40px;

}
.page-heading{
    font-size: 30px;
    margin: 0px;
    color: var(--font-color-white);
}
.page ul{
   padding: 0px 20px 0px 50px;
    font-size: 22px;
    
}
.page ul li a{
    color: rgb(211, 211, 211);

}
.mt{
    margin-top: 30px;
}

@media(max-width: 991px){
   
    .page{
        width: 100%;
        margin-top: 40px;
    }
}
